* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
}

header {
    position: fixed;
    width: 100%;
}

.nav {
    background-color: rgb(40, 40, 40);
    height: 45px;
    font-size: 18px;
}

.nav a {
    text-decoration: none;
    color: white;
    padding: 15px;
    float: left;
}

a:hover {
    background-color: rgb(66, 66, 66);
}

a.active {
    background-color: rgb(130, 186, 245);
}

#search {
    float: right;
    padding: 5px;
    margin: 5px;
}

.home {
    background: url(images/showcase.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    padding-right: 60px;
    padding-left: 60px;
}

.heading {
    padding-top: 180px;
    font-size: 90px;
    text-align: center;
}

.text-1 {
    padding-top: 25px;
    font-size: 30px;
    font-weight: bold;
}
.para-1 {
    padding: 3px;
    line-height: 2rem;
    padding-top: 35px;
    font-size: 20px;
}

/* Section 2 */
.section2 {
    background-color: rgb(59, 58, 58);
    color: white;
    text-align: center;
    /* height: 100vh; */
    padding-left: 60px;
    padding-right: 60px;
    line-height: 2rem;
}
.heading2{
    padding-top: 50px;
    font-size: 50px;
}
.text2{
    font-size: 35px;
    padding-top: 40px;
}

.para2 {
    padding-top: 50px;
    font-size: 21px;
}

.btn1 {
    padding: 12px;
    background-color: rgb(197, 5, 5);
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-align: center;
    border: none;
    font-size: 18px;
    height: 60px;
    margin: 50px;
}

.btn1:hover {
    background-color: rgb(239, 0, 0);
}

.img2 img {
    padding: 50px;
    width: 1200px;
    height: 800px;
}

/* Section 3 */
.section3 {
    background-color: rgb(239, 239, 239);
    text-align: center;
}

.heading3 {
    padding-top: 60px;
    font-size: 30px;
}

.para3 {
    padding-top: 40px;
    line-height: 2rem;
    width: 80%;
    position: relative;
    left: 150px;
    font-size: 18px;
}

.btn2 {
    background-color: rgb(103, 103, 213);
    padding: 15px;
    text-align: center;
    font-size: 1rem;
    color: aliceblue;
    margin: 40px;
    border: none;
    cursor: pointer;
}

.btn2:hover {
    background-color: rgb(255, 0, 0);

}

.img3 img {
    width: 80%;
}

/* Section-4 */
.section4 {
    background-image: url("images/section-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    color: white;
    text-align: center;
    padding: 200px 100px 150px 100px;
    line-height: 2rem;
    font-size: 1.4rem;
}

.heading4 {
    padding-bottom: 50px;
}

/* Section-5 */
.img4 img {
    width: 500px;
    float: left;
    width: 50%;
}

.section5 {
    padding: 40px;
    background-color: aliceblue;
    height: 80vh;
}

.heading5 {
    font-size: 1.4rem;
    padding: 10px;
    color: rgb(49, 48, 48);
}

.para5 {

    color: rgb(49, 48, 48);
    font-size: 1.1rem;
    padding-bottom: 15px;
}

.para5-1 {

    color: rgb(49, 48, 48);
    font-size: 1.1rem;
    padding-bottom: 10px;
}

.section5 .hr {
    padding: 10px;
}

.section5 a {
    text-decoration: none;
    font-size: 1.1rem;
    color: blue;
}

.section5 a:hover {
    background-color: aliceblue;
}

/* Footer */
.container-footer {
    background-color: rgb(27, 24, 24);
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

    line-height: 1.5rem;
    padding: 60px 80px 50px 150px;
    /* text-align: center; */
}

.container-footer h3 {
    color: white;
}

.container-footer ul li {
    color: rgb(104, 104, 104);
    list-style: none;
    cursor: pointer;
}

.container-footer .sec-1 {
    float: left;
    width: 25%;
}

.container-footer .sec-2 {
    float: left;
    width: 25%;
}

.container-footer .sec-3 {
    float: left;
    width: 25%;
}

.container-footer .hr {
    padding: 15px 50px 20px 0px;
}
.right{
    background-color: rgb(80, 80, 80);
    height: 70px;
    color: white;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
    display: flex;
}
footer .right p{
    padding: px;
}
/* Medis Query */
@media screen and (max-width: 580px){
header {
    height: 50vh;
}
}
@media screen and (max-width: 580px){
.nav {
    height: auto;
    border-bottom: 0;
}
}